<div class="segment-main" ng-class="{'over-dropzone': over}" ng-mouseup="mouseDrop($event)" ng-mouseleave="mouseIsOut($event)" ng-mousedown="spawnContextMenu($event)" ng-mouseover="mouseIsOver($event)">
	<div class="segment-icon"><i class="fa fa-segment"></i></div>
	<div class="segment-name">
		{{segment.name}} <span ng-if="!segment.latest">- v{{segment.version}}</span>
		<span class="label label-info" style="margin-left: 10px;" ng-if="segment.latest">Latest</span>
		<span class="label label-warning" style="margin-left: 10px;" ng-if="!segment.latest">Static</span>
	</div>
</div>
<div class="segment-children"></div>