<div class="preview-wrapper" ng-show="preview !== null">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control input-sm" ng-model="preview.name" ng-readonly="true" id="name">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="full_name">Full name</label>
				<input type="text" class="form-control input-sm" ng-model="preview.shortDescription" ng-readonly="true" id="full_name">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="form-group">
				<label for="description">Description</label>
				<input type="text" class="form-control input-sm" ng-model="preview.description" ng-readonly="true" id="description">
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="number_of_fields"># of Fields</label>
				<input type="text" class="form-control input-sm" ng-model="preview.fields.length" ng-readonly="true" id="number_of_fields">
			</div>
		</div>
	</div>

	<div class="field-list">
		<div class="row">
			<div class="col-md-2">
				#
			</div>
			<div class="col-md-6">
				Name
			</div>
			<div class="col-md-4">
				Type
			</div>
		</div>
		<div class="scroll-rows">
			<div class="row" ng-repeat="field in preview.fields">
				<div class="col-md-2">
					<input type="text" class="form-control input-sm" ng-model="field.fieldNumber" ng-readonly="true">
				</div>
				<div class="col-md-6">
					<input type="text" class="form-control input-sm" ng-model="field.name" ng-readonly="true">
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control input-sm" ng-model="field.dataTypeName" ng-readonly="true">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="preview-wrapper no-preview" ng-show="preview === null">
	<div class="center-text engraved">
		- Preview -
	</div>
</div>